<div ng-controller="userStoryController" ng-init="chooseNamePopup()">
  <!-- <div id="wrapper"> -->
  <div>
    <!-- Sidebar -->

    <div id="sidebar-wrapper">
      <ul class="sidebar-nav sideNav">
        <li class="sidebar-brand">
          <li>
          </li>
          <li>
            <div class="charIcon">
              <div ng-repeat="character in readerIndex.story_characters">
                <img id="imgNameSide" ng-src="{{character.character_photo}}" height='100px'/><br>
                <h4 id="characterNameSide">{{character.character_name}}</h4>
                <p> <div id="characterTraits">{{character.character_traits[0]}}</div>
                  <div id="characterTraits">{{character.character_traits[1]}}</div>
                  <div >{{character.character_traits[2]}} </div><p>
                  </div>
                </div>
              </li>
            </li>
          </ul>
        </div>

        <!-- body -->

        <div id="page-content-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-xs-8">
                <div class="{{storyClass}}">
                  <div class="{{sizeClass}}">
                    <div class="titlePage"
                    <h1>{{readerIndex.story_title}}</h1>
                    <!-- <h4> Rating: {{readerIndex.story_ratings}} </h4> -->
                  </div>
                  <div class="navBtns" style="display: none">
                    <button class="btn toggleButton"type="button" name="button" ng-click="toggle()">Change Font</button>
                    <div id="fontBox" ng-show="commentText">
                      <div class="btn-group btn-group" class= "fontBtns">
                        <button class= "btn arialButton" type= "button" name="arialButton" ng-click= "arialFont()">Font 1</button>
                        <button class= "btn comicButton" type= "button" name="comicButton" ng-click= "comicFont()">Font 2</button>
                        <button class= "btn openDyslexicButton" type= "button" name="openDyslexicButton" ng-click= "openDyslexicFont()">Font 3</button>

                        <button class= "btn smallButton" type= "button" name="smallButton" ng-click= "smallFont()">small</button>
                        <button class= "btn mediumButton" type= "button" name="mediumButton" ng-click= "mediumFont()">medium</button>
                        <button class= "btn largeButton" type= "button" name="largeButton" ng-click= "largeFont()">large</button>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="storyPage">
                  <div class="image">
                    <img class="TextWrap" ng-src="{{myStory.page_illustration}}" height='300px'/>
                  </div>
                  <div class="rating">
                    <div>
                      <form ng-controller="userStoryController" ng-cloak>
                        <!-- <p>Selected Value: <span class="radioValue">{{ data.group1 }}</span> </p> -->
                        
                        <md-radio-group ng-model="data.group1" layout="row">
                          <md-radio-button value="like" class="">Like</md-radio-button>
                          <md-radio-button value="love"> Love </md-radio-button>
                          <md-radio-button value="dislike">Dislike</md-radio-button>
                          <span style="width:.1em"></span>
                          <button class="btn btn-success btn-small" ng-click="rateStory(currentStory, {rating: data.group1})" type="button">Submit</button>                          
                        </md-radio-group>
                </form>
              </div>
            </div>
            <div id="userStory"></div><!-- USER STORY IS DISPLAYED HERE -->
            <div class="text-center">
              <button  class="btn btn-primary" class="btn previousButton" type="button" name="Prevbutton" ng-click= "prevPage()">‹ back</button>
              <span class="btn btn-primary">page {{myStory.page_number}}</span>
              <button  class="btn btn-primary" class="btn nextButton"type="button" name="Nextbutton" ng-click= "nextPage()">next ›</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</div>
</div>
