<div ng-controller = "getUserInfo" ng-init='getUsers()'>
  <div id="addStoryBtn">
    <button type="button" class="btn btn-primary btn-lg" name="addStoryButton" ng-click="openAdminEdit()"> Add a new story </button>
  </div>
  <div class = 'welcomeDiv'>
    <h1> User Info</h1>
    <table class = "table table-striped table-hover" id='userTable'>
      <thead>
        <tr>
          <th>Username</th>
          <th>Name</th>
          <th>Birthday</th>
          <th>Grade</th>
          <th>Email</th>
          <th>Admin?</th>
          <th>Auth?</th>
          <th>Actions</th>

        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="user in usersArray" ng-class="{notAuthUser: !user.auth}">
          <td >{{user.username}}</td>
          <td>{{user.name}}</td>
          <td>{{user.birthday | date}}</td>
          <td>{{user.grade}}</td>
          <td>{{user.email}}</td>
          <td>{{user.admin}}</td>
          <td>{{user.auth}}</td>
          <td><button class='btn btn-primary' ng-click="editUser($index)">Update</button>||<button class='btn btn-danger' ng-click="deleteUser($index)">Delete</button></td>

        </tr>
      </tbody>
    </table>
  </div>
</div>