@font-face {
   font-family: 'OpenDyslexic';
   src: url(OpenDyslexic.otf);
 }
 @font-face {
     font-family: 'blowbrush';
     src: url(blowbrush.ttf);
 }
 @keyframes pulse_animation {
 	0% { transform: scale(1); }
 	30% { transform: scale(1); }
 	40% { transform: scale(1.08); }
 	50% { transform: scale(1); }
 	60% { transform: scale(1); }
 	70% { transform: scale(1.05); }
 	80% { transform: scale(1); }
 	100% { transform: scale(1); }
 }
 body, html{
   background-color: white;
   /*background: url(../views/images/urbanwatercoloredit.jpg);*/
   /*background: url(../views/images/watercolorback.jpg);*/
   background-attachment: fixed;
   background-size: cover;
   height: 100%;
   font-size: 1em;
   font-family: 'PT Sans Narrow', sans-serif;
 }


 /*---------------------------------    nav bar   -------------------------------------*/
.logoblack{
  height: 50px;
  width: 150px;
  margin-left: 5px;
}
#loginHeader{
  color: #2c2d2d;
  background-color: #252526;
}
 .headerBtn{
   color: black;
   font-family: 'PT Sans Narrow', sans-serif;
   font-size: 24px;
     background-color: #118cc3;
   /*height: 30px;*/
   margin-right: 5px;
   padding-bottom: 10px;
   text-decoration: none;
  border-radius: 10px;
 }
.headerBtn:hover{
  background-color: #3FBFBF;
  text-decoration: none;
  color: white;
}
/*get this centered and big enough for the contained div*/
.loginForm{
  position: fixed;
  right: 0;
  left: 0;
  height: auto;
  width: 450px;
  margin-left: -120px;
  margin-right:auto;
  padding-left: -10px;
}
.loginInput{
  height: 200px;
  width: auto;
}
#loginText{
  float: left;
  display: inline-block;
  font-size: 75px;
  margin-left: 75px;
}
#loginBox{
float: right;
color: #3FBFBF;
display: inline-block;
width: 250px;
height: 100px;
font-size: 75px;
margin-top: 10px;
}
/*Change Placeholder Color*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #D3D3D3;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #D3D3D3;
}
:-moz-placeholder { /* Firefox 18- */
  color: #D3D3D3;
}
#loginDesc{
  color: gray;
}
#loginBtnDiv{
  position: fixed;
  right: 0;
  left: 0;
  height: auto;
  width: 450px;
  margin-top: -50px;
  margin-left: -100px;
}
#loginBtn{
  font-size: 30px;
  padding: 2px 52px;
  border-radius: 25px;
  border-color: #3FBFBF;
  color: #3FBFBF;
}
 #loginB{
   color: #3FBFBF;
   background-color: white;
   padding-left: 20px;
   padding-right: 20px;
   margin-right: 5px;
   margin-left: 10px;
   font-family: 'Comic Sans MS';
   /*font-family: 'blowbrush';*/
   font-size: 24px;
   width: 50px;
   height: 50px;
 }

#inputLogin{
  color: black;
}
#inputPassword{
  color: black;
}
#userB{
  background-color: #BF3FBF;
  padding-left: 5px;
}
#userTable{
  background-color: white;
}
#userB:hover{
  background-color: #3FBFBF;
}
#adminB {
  background-color: #3FBFBF;
  padding: 5px 20px;
  position: absolute;
  left: 35%;
  border-radius: 25px;
  text-decoration: none;
}
#adminB:hover{
  background-color: #3FBFBF;
}
#uploadB{
  background-color: #3FBFBF;
  padding: 5px 20px;
  position: absolute;;
  left: 60%;
  border-radius: 25px;
  text-decoration: none;
}
#uploadB:hover{
  background-color: #3FBFBF;
}
#manageB{
  background-color: #BF3FBF;
  padding-left: 5px;
  padding-right: 10px;
  margin-left: 5px;
}
#manageB:hover{
  background-color: #3FBFBF;
}
#logoutBtn{
  /*position: absolute;*/
  float: right;
  margin-top: 0px;
  padding: 5px 20px;
  background-color: white;
  border: 2px solid #3FBFBF;
  border-radius: 25px;
}
#logoutBtn:hover{
  background-color: #3FBFBF;
  color: white;
}

 .navbar-default{
   background-color: white;
    /*background-color: #118cc3;--blue*/
    /*background-color: #64bbcc;*/
    padding-top: 10px;
    padding-bottom: 10px; /*helps move the text in the sidenav up*/
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
  }

/*--------------------------------      readerStory         --------------------------------*/

 textarea {
   width: 800px;
   height: 300px;
   vertical-align: left;;
 }
#doneBtn{
  background-color: #3FBFBF;
  border-color: #3FBFBF;
  border-radius: 0px;
  height: 40px;
  width: 100px;
  color: white;
}
#cancelBtn{
  background-color: white;
  border-color: #3FBFBF;
  border-radius: 0px;
  height: 40px;
  width: 100px;
  color: black;
}
#changeBtn{
  background-color: #3FBFBF;
  border: none;
  text-align: center;
  color: white;

}
#changeBtnDiv{
  text-align: center;
}
#titleCharacters{
  text-align: center;
}
#charactersListDiv{
  display: inline-block;
  margin-left: 20px;
  border: 2px solid #d6d7d8;
  border-radius: 25px;
  padding: 20px;
  width: 350px;
  height: 200px;
  margin-top: 50px;
}
#imgName{
float: left;
position:relative;
border: 2px solid #d6d7d8;
padding: 10px;
}
.outerWrap{
  display: inline;
}
#inputName{
display: inline-block;
border: none;
border-bottom: solid 2px #969696;
}

#nameChangeBox{
}
#originalName{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: auto;
}

#newName{
  padding-top: 10px;
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;

}
#changedName{
  text-align: center;
  font-size: 20px;
}
#popupTraits{
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
}
 .sideNav {
   float: left;
   color: black;
   /*overflow-y: scroll;*/
   position: fixed;
   /*background-color: url(../views/images/watercolorside3.jpg);*/
   background-size: 50px;
 }
 .charIcon, .storyTitle, .characters{
   text-align: center;
   font-family: 'Comic Sans MS';
 }
#imgNameSide{
  border: 2px solid #d6d7d8;
  width: 150px;
  height: 150px;
}
#characterTraits, #characterNameSide{
  width   : auto;
  height  : 40px;
  position: relative;
  z-index : 1;
}
#characterTraits:before {
  content : "";
  position: absolute;
  left    : 25%;
  bottom  : 0;
  height  : 1px;
  width   : 60%;  /* or 100px */
  border-bottom:1px solid #d6d7d8;
}
#characterNameSide:before {
  content : "";
  position: absolute;
  left    : 25%;
  bottom  : 0;
  height  : 1px;
  width   : 60%;  /* or 100px */
  border-bottom:1px solid #d6d7d8;
}
 .storyTitle{
   font-size: 30px;
   color: black;
 }
 .title{
   font-family: 'blowbrush';
   height:200px;
   width: auto;
 }
 #page-content-wrapper {
   position: sticky;
   /* margin: 70px 0px 0px 175px; */
   padding: 0px 0px 0px 175px;
   display: flex;
 }
 #sidebar-wrapper{
    position: relative;
    margin: 40px;
    /*overflow-y: auto;*/
  }
  .titlePage{
    font-size: 30px;
   color: white;
   text-align: left;
   margin-left: -200px;
   margin-top:-50px;
  }
  #userStory{

  }
  .storyPage {
    border-radius: 10px;
    font-size: 1.5em;
    letter-spacing: 2px;
    line-height: 225%;
    width: 90%;
    position: relative;
     height: 100%;
     width: 71vw;
     border-width: thick;
     padding: 30px 30px 30px 30px;
     margin: 5px 5px auto 50px;
     text-align: left;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
     background-color: white;
     overflow: auto;
}
.TextWrap {
  float: left;
  margin: 20px 30px 0px 0px;
}
.image>img{
  position: relative;
    display: block;
    float: left;
    margin-right: : 0px 24px 12px 0px;
    overflow: hidden;
}

/*--------------------------------     readerStory Nav        --------------------------------*/
.characters{
  color: black;
  font-size: 30px;
  margin-top: -25px;
}
.text-center {
  text-align: center;
}
.previousButton{
  float: left;
  margin-left: 15px;
  margin-top: 50px;
}
.nextButton{
  float: right;
  margin-right: 15px;
  margin-top: 50px;
}
.nextButton {
  background-color: #5f3cb0; /* purple */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.previousButton {
  background-color: #5f3cb0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.nextButton:hover {
  background-color: #6600ff;
}
.previousButton:hover {
  background-color: #6600ff ;
}
.toggleButton{
   position: relative;
   margin-left: 700px;
   margin-top: -50px;
   background-color: white;
   color: black;
}
.arialClass{
  font-family: 'Arial', sans-serif;
}
.arialButton{
  float: right;
  font-family: 'Arial', sans-serif;
  font-size: 1em;
  background-color: white ;
  border: none;
  color: black;
  display: inline-block;
}
.arialButton:hover{
 background-color: #3FBFBF ;
}
.comicClass{
 font-family: 'Comic Sans MS';
}
.comicButton{
  float: right;
 font-family: 'Comic Sans MS';
 font-size: 1em;
 background-color: white;
 border: none;
 color: black;
 display: inline-block;

}
.comicButton:hover{
  background-color: #3FBFBF;
}
.openDyslexicClass{
 font-family: "OpenDyslexic";
}
.openDyslexicButton{
  float: right;
  font-family: "OpenDyslexic";
  font-size: 1em;
  background-color: white;
  border: none;
  color: black;
  display: inline-block;
}
.openDyslexicButton:hover{
  background-color: #3FBFBF;
}
.smallClass{
 font-size: 1.0em;
 letter-spacing: 2px;
 line-height: 225%;
 width: 90%;
}
.smallButton{
  float: right;
   font-size: 1.0em;
   background-color: white;
   border: none;
   color: black;
   display: inline-block;
}
.smallButton:hover{
  background-color: #3FBFBF;
}
.mediumClass{
   font-size: 1.75em;
   letter-spacing: 2.5px;
   line-height: 225%
 }
.mediumButton{
  float: right;
   font-size: 1em;
   background-color: white;
   border: none;
   color: black;
   display: inline-block;
 }
 .mediumButton:hover{
   background-color: #3FBFBF;
 }
.largeClass{
   font-size: 2.0em;
   letter-spacing: 3px;
   line-height: 225%
 }
.largeButton{
  float: right;
   font-size: 1em;
   background-color: white;
   border: none;
   color: black;
   display: inline-block;
   /*position: relative;*/
 }
.largeButton:hover{
  background-color: #3FBFBF;
}
#fontBox {
  width: 500px;
  margin-left: 500px;
}
 #fontBtns {
   /*float: right;*/
   margin-left: 60px;
   /*padding-left: 80px;*/
   align-items: right;
 }

/*---------------------     end readerStory Nav     --------------------------------*/
/*---------------------      end readerStory        --------------------------------*/
/*------------------------------    library    --------------------------------------*/
.cards{
  /*border-radius: 10px;*/
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
  margin-top: 50px;
  display: flex;
}
.storyCover{
display: inline-block;
position: flex;
margin-left: -15px;
margin-bottom: -60px;
margin-top: -15px;
}
.md-card-image{
  width: 180px;
  height: 200px;
  /*margin: -15px 0px -45px -15px;*/
}

#summaryBtn{
  background-color: #D378CC;
  width: 60%;
  margin: -40px -20px 5px -10px;
  border-radius: 0;
}
#readBtn{
  background-color: #6057CE;
  color: white;
  /*border-radius: 50px;*/
  width: 60%;
  margin: -10px -20px -15px -10px;
  border-radius: 0;
}
#cardInfo{
  display: inline-block;
  float: right;
  position: relative;
}
#storyTitleCard{
  display:inline-block;
  position: fixed;
  width: 200px;
  margin-left: 10px;
  margin-top: 5px;
  float: right;
  font-size: 25px;
}
#storyAuthor{
  display: inline-block;
  /*float: right;*/
  margin-left: 10px;
  margin-top: 60px;
}
#storyAuthorClass{
  display: inline-block;
  float: right;
  margin-left: 10px;
  margin-top: -100px;

}
#libraryMain{
  padding: 10px;
  margin: 40px;
  /*background-color: rgba(250, 250, 250, 0.9);*/
  background-color: white;
}
#libraryInstructions{
  padding: 20px;
  color: white;
}
#addStoryBtn{
  /*margin-left: 50px;*/
  height: 100px;;
  width: 300px;
  margin-right: 100px;
  /*display: inline-block;*/
  position: relative;
}

.btn-danger{
  border-radius: 50px;
}
/*--------------------------------customize word         --------------------------------*/

.wordBtn {
  border-radius: 8px;
  border: none;
  text-align: center;
  display: inline-block;
  margin: 2px 1px;
  cursor: pointer;
  background-color: #3FBFBF;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.3s;
  animation-name: pulse_animation;
	animation-duration: 1000ms;
	transform-origin: 70%;
	animation-iteration-count: 50;
	animation-timing-function: linear;
}

.wordBtn:hover {
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24),0 10px 20px 0 rgba(0,0,0,0.19);
}
.wordBtn:active{
  background-color: purple;
}
/*.pulse{
  animation-name: pulse_animation;
	animation-duration: 1000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}*/
/*--------------------------------    login        --------------------------------*/
.loginCont {
  color: white;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*Admin Library*/
.gridListdemoBasicUsage md-grid-list {
  margin: 8px;
}

.gridListdemoBasicUsage .gray {
  background: #f5f5f5;
}

.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms;
}
#storyInput {
  height: 200px;
  width: 700px;
  overflow: hidden;
  display: block;
}
#adminTestBox {
  height: 100px;
  width: 700px;
  overflow: auto;
}
#storyInput{
  overflow: auto;
  padding-bottom: 100px;
  margin: auto;
}

#descInput{
  width: 500px;
  height: 300px;
}
/*--------------------------------- Admin Story Input Pages  -------------------------------------*/
.storyInputPage{
  padding: 40px;
  margin: 40px;
  background-color: rgba(240, 241, 241, 0.9);


}
.editStoryInfo{
  padding: 20px;
}
.editCharInfo{
  padding: 20px;
}
.editPageInfo{
  padding: 20px;
}
#charBio{
  width: 200px;
  height: 40px;
}
#adminStory{
  /*background-color: #f7f3ee;
  border-width: thick;
  border-style: outset;
  border-color: #0088dd;
  padding: 30px;
  margin: 5px 5px 5px 5px;
  text-align: left;*/
}
/*---------------------------------   End Admin Story Input Pages   -------------------------------------*/
/*--------------------------------     modals        --------------------------------*/
.btn-primary{
  /*background-color: #5f3cb0;*/
  background-color: white;
  color: #3FBFBF;
  text-decoration: none;
  border-radius: 10px;
  border-color: #3FBFBF;
}
.btn-primary:hover{
    background-color: #744CE8;
}
.modalAll{
  /*background-image: url(../views/images/watercolorsidemodal.jpg);*/
  background-size: 100%;
  border-radius: 10px;
}

.register{
  color: white;
}
#registerTitle{
  text-align: center;
  margin-top: 100px;
  font-size: 34px;
  font-family: 'blowbrush'
}
#registerBox{
  border: solid;
  border-color: #e6e6e6;
  text-align: center;
  width: 400px;
  height: 300px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: table;
  /*background-image: url(../views/images/watercolorsidemodal.jpg);*/
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
}
.inputDiv{
  display: table-row;
}
.inputBox, .registerLabel{
  display: table-cell;
  margin-left: 35px;
}
.logoutModal{
  /*background-image: url(../views/images/watercolorsidemodal.jpg);*/
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
}

.notAuthUser {
  font-weight: bold;
  color:red;
}

#adminEditBtn {
  float: right;
  border-radius: 50px;
  border: none;
}
#logoutBtnModal{
  background-color: #3FBFBF;
  border-color: #3FBFBF;
  border-radius: 0px;
  height: 40px;
  width: 100px;
  color: white;
}
@keyframes blinker {
  75% { opacity: 0.0; }
}

#badWordTextPopupOne {
  animation: blinker 0.80s linear infinite;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  color: red;
}

#badWordTextPopupTwo {
  font-weight: bold;
  text-align: center;
}
#uploadButton {
  font-family: 'blowbrush';
  font: bold 15px Arial;
  text-decoration: none;
  background-color: #3FBFBF;
  color: white;
  padding: 15px 10px 15px 10px;
  border-top: 1px solid #3FBFBF;
  border-right: 1px solid #3FBFBF;
  border-bottom: 1px solid #3FBFBF;
  border-left: 1px solid #3FBFBF;
  border-radius: 20px;
  display: inline-block;
}
#uploadButton:hover{
  background-color: #744CE8;
}
#emailButton{
  font-family: 'blowbrush';
  font: bold 15px Arial;
  text-decoration: none;
  background-color: #3FBFBF;
  color: white;
  padding: 15px 10px 15px 10px;
  border-top: 1px solid #3FBFBF;
  border-right: 1px solid #3FBFBF;
  border-bottom: 1px solid #3FBFBF;
  border-left: 1px solid #3FBFBF;
  border-radius: 20px;
  display: inline-block;
}
#emailButton:hover{
background-color: #744CE8;
}
.uploadInstructions {
  border-radius: 10px;
  font-size: 1.5em;
  letter-spacing: 2px;
  line-height: 225%;
  width: 90%;
  position: relative;
   height: 45vw;
   width: 71vw;
   border-width: thick;
   padding: 50px 30px 30px 30px;
   margin: 5px 5px auto 50px;
   text-align: left;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
   background-color: white;
   overflow: auto;
}
#uploadTitle{

}
#UploadText{
  padding-top: 30px;
  padding-bottom: 50px;
}
.imgBack{
  width: auto;
  height: auto;
}
